/* @import "../node_modules/bootstrap/scss/bootstrap"; */


.container{

    background-color: rgb(230, 230, 229);

    
}


.infocard{

    background-color: rgb(230, 230, 229);
    .content{
        font-size: 2rem;
    }

    .area{
        color:rgb(7, 7, 161);
    }
   
}

