/* @import "../node_modules/bootstrap/scss/bootstrap"; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,500&display=swap');

.servicios_container{

  scroll-behavior: smooth;

  padding-right: 10px;

  
    .toolicon{
        font-size: 15rem;
        margin-top: 1rem;
        margin-left:20%; 
        opacity: 0.4;
        position:relative;
        top:20%;
        left:20%;
        color:rgb(77, 77, 187);
    }

.hero{

    width :100%;
    height: 40vh;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba (12, 3,51, 0.3));
    position: relative;
    padding: 0 5%;
    display: inline-block;
}
.static-text{
    font-family: 'Roboto', sans-serif;
    margin-top:15%;
    color:black;
    font-size: 3rem;

}


nav{
    width: 100%;
    bottom: 15%;
    position: relative;
    
    padding: 20px 8%;
    display: inline-block;
  

    
}


.wrapper{
    display:inline-block;
position: relative;
bottom: 35%;
}

.wrapper .static-txt{

font-weight: 400;
font-size: 2rem;
    color:blue;
}
.wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow:hidden;

}


.dynamic-txts li{
    font-family: 'Roboto', sans-serif;
color:black;
list-style: none;
font-size: calc(3.5rem + 0.390625rem);
font-weight: 500;

position: relative;
top:0;   
width: 100%;
white-space: nowrap;
overflow:hidden;
animation: slide 12s steps(4) infinite
, typing 3s infinite;


}

.first-card{
    padding: 10% ;
    align-items: center;

}
.first-card ul{
    list-style-type: none;
}
.first-card ul li {
margin-top:1rem;
font-size: 1.5rem;
};

.first-card button
{
    font-size: 2rem;
    letter-spacing: 5px;
    color:white;
    width: 70%;
    background-color: rgb(62, 100, 214);
    left:20%;
    box-shadow: 5px;
    position:relative;
    height: 3rem;
    border-radius: 10px;
    transition:1s ease-in-out;
    
}

.first-card button:hover{

   top:10px;
}

.first-card ul li span{
    color:blue;
}

.landing{
    position:relative;
    left:10%;
  
    width: calc(20rem - 0.390625rem);
    height:calc(12rem - 0.390625rem);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}



.modal-overlay{
  display:none;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(15, 24, 40, 0.5);
    place-items: center;
    
    z-index: 1;
  
}


.close-modal{
  transform:scale(1);
          animation:unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          .modal-container{
            .modulo{
              animation: zoomOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            }
          }
}

.modal-container{
    background-color: white;
    height: 18rem;
    border-radius: 1rem;
    width: 25rem;
place-items:center;
align-items: center;


}



.modal-container h1{
    font-size: 1rem;
    
    margin-top: 1rem;
margin-left: 2rem;

}

.open-modal{
  display: grid;
    visibility: visible;
    z-index:10;
overflow: hidden;
    transform:scaleY(.01) scaleX(0);
animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
.modal-container{
  .modulo{
    transform:scale(0);
    animation: zoomIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  }
}
}

.send-btn{
    position: relative;
    left: 20%;
    top:3rem;
    width: 70%;
    background-color: rgb(71, 139, 71);
}


.close-btn{
position: relative;
top: 6rem;
background-color: transparent;
left:10%;
}

.wabtn{
    position: fixed;
z-index: 200;
border:black solid 1px; 
border-radius: 1rem;
width: 5rem;
height: 5rem;
background-color: green;
right: 1rem;
bottom:3.5rem;
cursor:pointer;
transition: .2s ease-in-out;
} 

.wabtn:hover{
bottom:3.8rem;
   
}

.options{
    position: relative;
    top:2rem;
   width: 70%;
    left:20%;
border: solid black 1px;

}
  .btnwa{
  width: 5rem;
  height: 5rem;
position: relative;
left:1rem;
background-color: green;

  }
  
  .botonmensaje{
    position: fixed;
z-index: 200;
border:black solid 1px; 
border-radius: 1rem;
width: 5rem;
height: 5rem;
background-color: green;
right: 1rem;
bottom:3.5rem;

  }

  .extra-services{
    position: relative;
    text-align:  center;
    background-color: transparent;
padding: 5px 5px 5px 5px;
margin-left:5%;
margin-right: 5%;
letter-spacing: .1rem;
font-family: 'Roboto', sans-serif;

  
  }

  .extra-services div div{
text-align: left;
  }

  .extra-services div div p{
    text-align: left;
    font-size: 30px;

   } 
 
.icon{
     font-size: 5rem;
     border: solid black 1px;
     border-radius: 10px;
    background: rgba(15, 0.5, 0.5, 0.5);

   }

}

@keyframes slide{
100%{
top:-360px;
}
}
@keyframes cursor {

50%{ border-color: black;

}

}
@keyframes typing{

from{width: 0;}
}

p{
 
    font-size: 2rem;
}
.botonhola{
    color:red; 
}


@keyframes zoomOut {
    0% {
      transform:scale(1);
    }
    100% {
      transform:scale(0);
    }
  }

  
@keyframes unfoldOut {
    0% {
      transform:scaleY(1) scaleX(1);
    }
    50% {
      transform:scaleY(.005) scaleX(1);
    }
    100% {
      transform:scaleY(.005) scaleX(0);
    }
  }


@keyframes unfoldIn {
    0% {
      transform:scaleY(.005) scaleX(0);
    }
    50% {
      transform:scaleY(.005) scaleX(1);
    }
    100% {
      transform:scaleY(1) scaleX(1);
    }
  }


@keyframes zoomIn {
    0% {
      transform:scale(0);
    }
    100% {
      transform:scale(1);
    }
  }